<div actor-image-display actor=actor></div>
<table class='table table-bordered'>
    <tr>
        <td>
            Name
        </td>
        <td>
            {{actor.name}}
        </td>
    </tr>
    <tr>
        <td>
            Health
        </td>
        <td>
            {{actor.health}} / {{actor.maxHealth}}
        </td>
    </tr>
    <tr>
        <td>
            Attack
        </td>
        <td>
            {{actor.getAttack()}}
        </td>
    </tr>
    <tr>
        <td>
            Defense
        </td>
        <td>
            {{actor.getDefense()}}
        </td>
    </tr>
    <tr>
        <td>
            Speed
        </td>
        <td>
            {{actor.getSpeed()}}
        </td>
    </tr>
</table>
<div ng-repeat="(name,item) in actor.equip" ng-if=item.equipped>
    <h3 ng-if=$first>Equipped:</h3>
    <div item-view compact=true item=item></div>
    <button class='btn btn-default' ng-click=unequip(item)>Unequip</button>
</div>
