
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.char {
  width: 64px;
  height: 64px;
  background: url(../images/characters-32x32.png);
  background-size: cover;
  position: relative;
  margin: 10px auto;
}

.targeted {
  border: 1px solid red;
}

.char.dead {
  transform: rotate(90deg);
}

.char-villain {
  background-position: 64px 0px;
}

.equip {
  width: 64px;
  height: 64px;
  background: url(../images/equipment-32x32.png);
  background-size: cover;
  position: absolute;
}

.equip-spear {

}

.equip-dagger {
  background-position: -128px 0px;
}

.equip-armor {
  background-position: -6400px 0px;
}

.equip-helmet {
  background-position: -4352px 0px;
}

.equip-helmet.helm-fancy {
  background-position: -4864px 0px;
}



.equip.attacking {
  transform: rotate(30deg);
}