<div ng-class='{"targeted":battle.target.id == actor.id}'>
  <div avatar-display actor=actor>

  </div>


    <table class='table table-bordered'>
        <tr>
            <td>
                {{actor.name}}
            </td>
            <td>
                {{actor.health | number:0}}
            </td>
        </tr>
    </table>

    <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: {{(actor.health / actor.maxHealth) * 100}}%; ">
        </div>
    </div>

    <div class="progress"  ng-if=actor.controlled>
        <div class="progress-bar" style="width: {{actor.sp}}%;transition: all 0s;">
        </div>
    </div>

    <div ng-if=actor.controlled>
        <button ng-disabled=!actor.canAct ng-click="actor.selectedAction='attack'" class='btn btn-primary btn-block'>Attack</button>
        <button ng-disabled=!actor.canAct||!actor.heals ng-click="actor.selectedAction='heal'" class='btn btn-block btn-success'>Heal</button>
        <button ng-disabled=!actor.canAct ng-click="actor.selectedAction='defend'" class='btn btn-block btn-warning'>Defend</button>
        <button ng-click="actor.selectedAction='target'" class='btn btn-block btn-warning'>Change Target</button>
        <button ng-click="actor.selectedAction='retreat'" class='btn btn-block btn-danger'>Retreat</button>
    </div>
</div>
</div>
