<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
            Deeper and deeper you go into some long-forgotten mine.
        </p> 
        <p>
            "I have half a mine to get out of here."
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>Perhaps these locals will know the way out?</button>
        <button class='btn-warning btn' ui-sref=main.status>I think I can find my own way out.</button>
    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle></div>
<div ng-if=isVictory>
    <p>
        "I showed them the meaning of good samaritan."
    </p>
    <div ng-include="'partial/treasure-display.html'"></div>
    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "Ha ha ha ha"
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
