<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
           "Get back here!" you shout. The man seems tired and weary.
        </p>
        <p>
            "You will not stop me from collecting the shards, you fool!" and with that he assails you with a powerful enchantment.
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>Where did he go?</button>
        
    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle treasures=treasures></div>
<div ng-if=isVictory>
    <p>
       This is it
    </p>
    <div treasures-display treasures=treasures></div>

    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "I must use more strategy."
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
