<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
            Slowly, you make your way through a frozen and treacherous realm.
        </p> 
        <p>
            "I'm f-f-f-freezing... f-f-f-f-quite good."
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>I should take refuge in this monster-filled cavern</button>
        <button class='btn-warning btn' ui-sref=main.status>Better return to town.</button>
    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle></div>
<div ng-if=isVictory>
    <p>
        "You can't beat me!"
    </p>
    <div ng-include="'partial/treasure-display.html'"></div>
    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "I can't beat them!"
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
