<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
           "Stop right there!" you shout at the man. He pauses for a moment. You see he is a cloaked figure, aged but strong.
        </p>
        <p>
            "You do not understand the forces with which you meddle, boy!"
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>I'll show you!</button>
        <button class='btn-warning btn' ui-sref=main.status>Retreat</button>
    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle treasures=treasures></div>
<div ng-if=isVictory>
    <p>
       He escaped!
    </p>
    <div treasures-display treasures=treasures></div>

    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "I must use more strategy."
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
