<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
            Your adventure continues through a dark and abandoned barrows.
        </p>
        <p>
            "Hmmmmm..." you think. 
        </p>
        <p>
            Turning a corner, you encounter some skeletons.
        </p>
        <p>
            "Looks like these guys have a bone to pick."
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>Fight the skeletons</button>
        <button class='btn-warning btn' ui-sref=main.status>Run away!</button>
    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle></div>
<div ng-if=isVictory>
    <p>
        "Those skeletons are taken care of."
    </p>
    <div ng-include="'partial/treasure-display.html'"></div>
    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "Time to beat it!"
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
