<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
           You hear forbidding voices echoing from within a pitch black stairwell.
        </p>
        <p>
            "Dare I venture deeper into this house of terrors?"
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>Venture On</button>
        <button class='btn-warning btn' ui-sref=main.status>Retreat</button>
    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle treasures=treasures></div>
<div ng-if=isVictory>
    <p>
       It just goes on and on deeper...
    </p>
    <div treasures-display treasures=treasures></div>

    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "I must use more strategy."
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
