<div ng-if=!fightStarted>
    <h2>
        Level {{game.currentDungeonLevel}}
    </h2>
    <div>
        <p>
          You corner the cloaked man in a dark catacomb.
        </p>
        <p>
            "Who are you?" you demand.
        </p>
        <p>
            "I am known as Ailwar. You are meddling in affairs you know nothing about."
        </p>
        <p>
            "I'll show you who knows something!"
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>Battle!</button>

    </div>

</div>
<div ng-if=fightStarted battle-display battle=battle treasures=treasures></div>
<div ng-if=isVictory>
    <h3>
        Congratulations! You have beaten the ultimate challenge of this game!
    </h3>
    <div treasures-display treasures=treasures></div>

    <button class='btn btn-success' ui-sref='main.status'>Victory!</button>
</div>
<div ng-if=isDefeat>
    <p>
        "I must use more strategy."
    </p>
    <button class='btn btn-danger' ui-sref='main.status'>Retreat</button>
</div>
