<input min=1 ng-range ng-model=simulation.currentTurn max={{simulation.length}} type=range step=1>
<div ng-repeat='turn in simulation | slice:simulation.currentTurn-1:simulation.currentTurn'>
    Turn {{turn.turn}}
    <p ng-repeat='action in turn.narrative track by $index'>
        {{action}}
    </p>
    <div class=col-xs-3>
        <div hero-battle-display actors=turn.game.actors alignment="'good'"></div>
    </div>
    <div class=col-xs-6>
    </div>

    <div class=col-xs-3>
        <div hero-battle-display actors=turn.game.actors alignment="'evil'"></div>
    </div>
</div>
