<h2>
    Level {{game.currentDungeonLevel}}
</h2>
<div ng-if=!fightStarted>
    <div>
        <p>
            You see a common troll.
        </p>
        <p>
            "Hahaha," you laugh merrily. "What a puny troll. Let us slay it in sport."
        </p>
        <p>
            Do you fight the troll?
        </p>
        <button class='btn-danger btn' ng-click='startBattle()'>Fight the troll</button>
    </div>

</div>
<div battle-display battle=battle></div>
<div ng-if=isVictory>
    <p>
        "Hahaha."
    </p>
    <p>
        "What a puny troll." You say. "Haha...";
    </p>
    <button class='btn btn-danger' ui-sref='main.dungeon.floor({floor:game.currentFloor + 1})'>Go to Next Floor</button>
</div>
<div ng-if=isDefeat>
    <p>
        Ghast!
    </p>
    <button class='btn btn-danger' ui-sref='main'>Back to town!</button>
</div>
