<h1>Welcome to the Arena, Friend Warrior!</h1>
<p>
  It is 10,000 years from now. Civilization lies ruined, ravished by a zombie apocalypse of man's own creation.</p>
<p>
  The only thing that can save mankind from its folly now lies deep in the fiendish house of traps known as the Cave of Terrors...
</p>
<h2>Instructions</h2>
<p>
  The goal of the game is to claim the treasure at the bottom of the Cave of Terrors. 
</p>
<p>
  The cave of terrors has 100 levels.
</p>
<p>
  Once you have beaten a level of the Cave of Terrors, you can always start from any level at that level or below. 
</p>
<p>
  If you die, you lose half your gold, and half your experience.
</p>
<p>
  If you can beat a level higher than the one at which you died, without dying again, your gold and experience will be returned to you.
</p>
<p>
  Purchase armor and weapons from the store. 
</p>
<p>
  More powerful weapons and armor will become available as you unlock more levels of the cave.
</p>
<p>
  Other adventurers may be persuaded to join your party. If your party members die, they are gone forever.
</p>
<p>
  Other adventurers cannot be controlled directly, but you can customize their behaviour in the Party menu.
</p>
<p>
  
</p>