<div class=container>
    <div>
        <table class='table table-bordered table-large'>
            <tr>
                <td>Gold</td>
                <td>{{game.gold}}</td>
            </tr>
            <tr>
                <td>Dungeon Level</td>
                <td>{{game.maxDungeonLevel}}</td>
            </tr>
        </table>
    </div>

    <div class='char char-{{actor.body}}'>
        <div class='equip equip-dagger {{actor.animation}}'>
        </div>
        <div class='equip equip-armor'>
        </div>
    </div>

    <table class='table table-bordered'>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{actor.name}}
            </td>
        </tr>
        <tr>
            <td>
                Health
            </td>
            <td>
                {{actor.health}} / {{actor.maxHealth}}
            </td>
        </tr>
        <tr>
            <td>
                Attack
            </td>
            <td>
                {{actor.attack}}
            </td>
        </tr>
    </table>
    <button class='btn btn-danger' ui-sref='main.dungeon'>Next level!</button>
</div>
