<div>
    <div>
        <h2>You</h2>
        <table class='table table-bordered table-large'>
            <tr>
                <td>Gold</td>
                <td>{{game.gold}}</td>
            </tr>
            <tr>
                <td>Dungeon Level</td>
                <td>{{game.maxDungeonLevel}}</td>
            </tr>
        </table>
    </div>
    <button class='btn btn-default' ui-sref='main.status.character'>Status</button>
    <button class='btn btn-default' ui-sref='main.status.store'>Store</button>


    <div ui-view=main></div>
    <button class='btn btn-danger' ui-sref='main.dungeon'>Next level!</button>
</div>
